* {
  font-size: 13px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.mid {
  text-align: center;
}

.backTop {
  position: absolute;
  top: 4px;
  left: 0;
}

.title-header {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

ion-slides {
  width: 100%;
  ion-slide {
    .advertise {
      height: 130px;
      width: 100%;
      .img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
}

}
.cost-row {
  color: #fff;
  background-color: aqua;
  height: 100px;
  ion-label {
    font-size: 14px;
    font-weight: 600;
  }
}

.name-product-row {
  ion-label {
    font-weight: 600;
    color: black;
  }
}

ion-footer {
  bottom: 0;
  position: absolute;

.row {
  padding: 5px 15px 7px;
  .btn-footer {
  width: 100%;
  }
}
}