<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="img">
    <ion-img [src]="loadedProduct.images"></ion-img>
  </div>

  <div class="tach"></div>
  <div class="list">
    <div class="row">
      <ion-item>
        <div class="column">
          <ion-img class="demo cursor"></ion-img>
        </div>
      </ion-item>
    </div>
  </div>
  <div class="tach"></div>
  <div class="price">
    <h5 style="margin: 0%;padding-top: 10px;padding-left: 20px;">{{loadedProduct.name}}</h5>
    <p style="color:#58bc00;font-size:120%;margin: 0%;padding-left: 20px;">{{loadedProduct.price}}</p>
  </div>
  <div class="tach"></div>
  <div class="info">
    <h5 class="test">Thông tin sản phẩm</h5>
    <p class="test">Xuất xứ:</p>
    <p class="test">Loại: Rau chân ngan</p>

  </div>
  <div class="tach"></div>


  <div>
    <h5>Mô tả sản phẩm</h5>
    <p>Put simply, the public aspect of blockchains generally implies three interrelated things: 1)
      Anyone can use the blockchain, 2) anyone can serve as a validating node of the blockchain, and 3)
      anyone who becomes a node can, in turn, act as part of that blockchain's governance mechanism. In theory,
      this makes blockchains decentralized and democratic structures resistant to undue control or influence from
      any single party.By contrast, a distributed ledger generally doesn't enable any or most of these public features.
      It restricts who can use and access it (hence the “permissioned” terminology), and it also restricts who can
      operate
      as a node. And in many cases, governance decisions are left to a single centralized company or body. Compared to
      the
      ideal of a public, decentralized blockchain, it exists solely to serve the interests of a concentrated group of
      commercial players and interests. Below is an image detailing how centralized, decentralized and distributed
      networks are structured:</p>

  </div>


</ion-content>

<ion-footer class="footer">
  <div>
    <ion-button class="button" expand="block" color="success">Thêm vào giỏ hàng</ion-button>
  </div>
</ion-footer>