<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="img">
    <ion-img [src]="loadedProduct.images[0]"></ion-img>
  </div>

  <div class="tach"></div>
  <div class="list">
    <div class="row">
      <ion-item>
        <div class="column">
          <ion-img class="demo cursor"></ion-img>
        </div>
      </ion-item>
    </div>
  </div>
  <div class="tach"></div>
  <div class="price">
    <h5 style="margin: 0%;padding-top: 10px;padding-left: 20px;">{{loadedProduct.name}}</h5>
    <p style="color:#58bc00;font-size:120%;margin: 0%;padding-left: 20px;">{{loadedProduct.price}}</p>
  </div>
  <div class="tach"></div>
  <div class="info">
    <h5 class="test">Thông tin sản phẩm</h5>
    <p class="test">Xuất xứ: {{loadedProduct.madeIn}}</p>
    <p class="test">Loại: {{loadedProduct.productType}}</p>

  </div>
  <div class="tach"></div>


  <div>
    <h5>Mô tả sản phẩm</h5>
    <p>{{loadedProduct.description}}</p>

  </div>


</ion-content>

<ion-footer class="footer">
  <div>
    <ion-button class="button" expand="block" color="success">Thêm vào giỏ hàng</ion-button>
  </div>
</ion-footer>