.fix{
    border: 1px solid black;
    border-radius: 11px;
    height: 36px;
    width: 94%;
    margin-left: 9px;
}
.label{
    margin-top: 0px;
    font-size: 14px;
    margin-left: 11px;
}
.back{
    margin-top: 150px;
}
img{
    margin-left: 35px;
}
.btn-submit{
    margin-top: 15px;
    height: 37px;
    width: 59%;
    margin-left: 62px;
}