<ion-header>
  <ion-toolbar>
    <ion-title>forgetPass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Forgot Password</h1>
  <form class="form">
    <div>
      <p class="label">Your email <a>*</a></p> <br />
      <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required></ion-input>
    </div>
    <ion-button type="submit" color="03A87C" (click)="sendPasswordReset()">Send Link</ion-button>
    <ion-button (click)=backLogin()>Back to log in</ion-button>
  </form>
</ion-content>
