<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="sign-in-content">
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input class="input-item" type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input class="input-item" type="password" #password required></ion-input>
    </ion-item>

    <ion-row class="sign-up-btn-wrapper">
      <ion-button class="sign-up-btn" fill="clear" routerLink ="/forget-pass">
        Quên mật khẩu?
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>

    

    <ion-row>
      <ion-col> 
        <ion-button 
         type="submit" 
         color="danger"
         (click)="authService.GoogleAuth()" 
         expand="block">
           Login with Google
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
        <ion-button 
         type="submit" 
         color="primary"
         (click)="authService.FacebookAuth()"
         expand="block">
           Login with Facebook
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col> 
      <ion-button routerLink="/registration" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
    

  </form>
</ion-content>