<ion-header>
  <ion-toolbar>
    <ion-row>
      <div>
        <ion-buttons class="backTop" slot="start">
          <ion-back-button icon="chevron-back-outline" defaultHref="tabs/home"></ion-back-button>
        </ion-buttons>
      </div>
      <ion-col class="mid">
        <ion-title class="title-header">Sản phẩm</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="ion-content">
  <ion-searchbar placeholder='Tìm kiếm'></ion-searchbar>
  <ion-list class="hot">
    <ion-item lines="none" class="title-item">Bán chạy</ion-item>
    <ion-row class="products-hot-row">
      <ion-col size="5.7">
        <img src="../../../assets/images/background-img-organic.jpg" alt="">
        <div>
          <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
          <ion-note>Cà rốt</ion-note>
        </div>
        <div>
          <ion-label class="cost-label">81.000</ion-label>
          <ion-icon class="add-icon" name="add-circle" color="success"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="5.7">
        <img src="../../../assets/images/background-img-organic.jpg" alt="">
        <div>
          <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
          <ion-note>Cà rốt</ion-note>
        </div>
        <div>
          <ion-label class="cost-label">81.000</ion-label>
          <ion-icon class="add-icon" name="add-circle" color="success"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="products-hot-row">
      <ion-col size="5.7">
        <img src="../../../assets/images/background-img-organic.jpg" alt="">
        <div>
          <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
          <ion-note>Cà rốt</ion-note>
        </div>
        <div>
          <ion-label class="cost-label">81.000</ion-label>
          <ion-icon class="add-icon" name="add-circle" color="success"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="5.7">
        <img src="../../../assets/images/background-img-organic.jpg" alt="">
        <div>
          <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
          <ion-note>Cà rốt</ion-note>
        </div>
        <div>
          <ion-label class="cost-label">81.000</ion-label>
          <ion-icon class="add-icon" name="add-circle" color="success"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="products-hot-row">
      <ion-col size="5.7">
        <img src="../../../assets/images/background-img-organic.jpg" alt="">
        <div>
          <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
          <ion-note>Cà rốt</ion-note>
        </div>
        <div>
          <ion-label class="cost-label">81.000</ion-label>
          <ion-icon class="add-icon" name="add-circle" color="success"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="5.7">
        <img src="../../../assets/images/background-img-organic.jpg" alt="">
        <div>
          <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
          <ion-note>Cà rốt</ion-note>
        </div>
        <div>
          <ion-label class="cost-label">81.000</ion-label>
          <ion-icon class="add-icon" name="add-circle" color="success"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
  <div class="line"></div>
  <ion-list class="promotion">
    <ion-item lines="none" class="title-item">Ưu đãi hôm nay</ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <div class="line"></div>
  <ion-list class="promotion">
    <ion-item lines="none" class="title-item">Rau củ</ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <div class="line"></div>
  <ion-list class="promotion">
    <ion-item lines="none" class="title-item">Trái cây</ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <div class="line"></div>
  <ion-list class="promotion">
    <ion-item lines="none" class="title-item">Thực phẩm khác</ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col size="4">
          <img src="../../../assets/images/background-img.jpg" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <div>
              <ion-icon class="ticket-icon" name="ticket-outline" color="danger"></ion-icon>
              <ion-note>Cà rốt</ion-note>
            </div>
            <ion-label class="cost-label">40.500</ion-label>
          </ion-row>
          <ion-row>
            <ion-note class="text-11">
              1 phần cơm 2 người gồm tôm nướng, ba chỉ, nạc, sườn non và canh cho 2 người
            </ion-note>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>