<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nhà cung cấp    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main">
  <div class="producer">
    <img src="../../assets/img/f99.png" alt="">
    <div class="content">
      <h3>ITSu</h3>
      <p class="address">123 Phù Đổng Thiên Vương, Phường 8, TP.Đà Lạt</p>
    </div>
  </div>
  <div class="introduce">
    <h3>Giới thiệu</h3>
    <p class="intro-content">ITSu là dịch vụ cung cấp trái cây, thực phẩm khi mua sắm trên ứng dụng ITSu. Mang tới những trải nghiệm về sản phẩm tươi ngon, chất lượng nguồn gốc đảm bảo và dinh dưỡng cho tất cả gia đình.</p>
  </div>
  <div class="product">
    <h3>Sản phẩm</h3>
    <div class="list-product">
      <img src="../../assets/img/dautay.jpg" alt="">
      <div class="info-product">
        <p class="name-product">Dâu tây Đà lạt</p>
        <p class="price">100.000/hộp</p>
      </div>
    </div>
  </div>
</ion-content>
