#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .product1, .product2{
    margin-top: 10px;
  }
  .product1{
    float: left;
    width: 50%
  }
  .product2{
    float: left;
    width: 50%;
  }
  .list-rice img{
    width: 165px;
    text-align: center;
  }
  .list-rice{
    margin-left: 10px;
  }
  .content p{
    width: 85%;
  }
  .top{
    border-bottom: 1px solid #6a6464;
    margin-bottom: 35px;
  }
  .nav h4{
    margin-left: 10px;
    font-weight: 600;
    color: #464343;
  }
  .top ul{
    padding: 0px;
    text-align: center;
  }
  .top ul li{
    list-style: none;
    display: inline;
  }
  .top li a{
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: linear 0.4s;
    font-size: 100%;
  }
  .content p{
    margin: 5px 0px 0px 0px;
  }
  .content h4{
    font-weight: bold;
  }
  .top ul li:hover a{
    color: green;

  }
  .top li:hover{
    border-bottom: 3px solid green;
     
  }

  ion-searchbar{
    --border-radius: 25px;
    --icon-color:green;
    --placeholder-color: grey;
  }
  