<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar placeholder='Tìm kiếm'></ion-searchbar>
    </ion-title>
  </ion-toolbar>
  <!-- Searchbar disabled -->

</ion-header>

<ion-content [fullscreen]="true">
  <div class="top">
    <ul>
      <li>
        <a href="#1">Bán chạy</a>
      </li>
      <li>
        <a href="#1">Cơm gà ta</a>
      </li>
      <li>
        <a href="#1">Cơm gà Tam Hoàng</a>
      </li>
    </ul>
  </div>
  <div class="nav">
    <h4>Bán chạy</h4>
    <div class="list-rice">
      <div class="product1" *ngFor="let product of products">
        <img [src]="product.images" alt="">
        <div class="content">
          <p>{{ product.name}}</p>
          <h4>30.000</h4>
        </div>
      </div>
    </div>

  </div>
</ion-content>