<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Đăng ký tài khoản</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm">

    <ion-label class="account">Email:</ion-label>
    <ion-input class="input" formControlName="email" type="text" #email required></ion-input>

    <ion-label class="account">Mật khẩu:</ion-label>
    <ion-icon class="icon" name="eye-outline"></ion-icon>
    <ion-input class="input" formControlName="password" type="password" #password required></ion-input>

    <ion-label class="account">Nhập lại mật khẩu:</ion-label>
    <ion-icon class="icon2" name="eye-outline"></ion-icon>
    <ion-input class="input" formControlName="rePassword" type="password" #rePassword required></ion-input>

    <ion-row>
      <ion-col>
        <ion-button color="buttongreen" [disabled]="!signUpForm.valid&&!checkPassword(password, rePassword)"
          type="submit" (click)="signUp(email, password)" expand="block" color="buttongreen">Đăng ký</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>