<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chi tiết</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Danh mục:</ion-card-title>
    </ion-card-header>

    <ion-row>
      <ion-col>
        <ion-label>Tài khoản: {{email}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label><b>Chi tiết</b></ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Số tiền còn lại: {{amount}} </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>