ion-card {
    height: 80%;
    margin-top: 10%;
    padding: 25px;
  }
  
  ion-card ion-item {
    margin: 30px 0;
  }
  
  ion-button {
    height: 50px;
    width: 100%;
  }
  
  ion-card-title {
    text-align: center;
    margin-bottom: 20px;
  }

  ion-label{
      font-size: large;
      color: black;
      margin: 10px 0;
  }